<div class="container py-5">
  <ng-container *ngIf="maisonList$|async as result " [ngSwitch]="result.affichStateEnum">
    <ng-container *ngSwitchCase="affichStateEnum.LOADING">
      LOADING ...
    </ng-container>

    <ng-container *ngSwitchCase="affichStateEnum.ERROR">
      <span>{{result.errorM}}</span>
    </ng-container>

    <ng-container *ngSwitchCase="affichStateEnum.LOADED">
      <table class="table table-bordered table-striped">
        <tr class="bg-dark text-light">
          <th>ID</th><th>DIMENSION</th><th>PRICE</th><th>OWNER</th>
        </tr>
        <app-item-maison *ngFor="let m of result.data._embedded.maisons" [maison]="m"
        style="display: contents">

        </app-item-maison>

      </table>
    </ng-container>
    <nav aria-label="...">
      <ul class="pagination pagination-lg">
        <li class="page-item" [ngClass]="i==currentPage?'active':''" aria-current="page"
            *ngFor="let pa of  result.pages;let i=index">
          <a (click)="onPageMaison(i)" class="page-link">{{i}}</a>
        </li>
      </ul>
    </nav>
  </ng-container>

</div>
